PAYMONGO_SECRET_KEY=sk_live_YOUR_PAYMONGO_SECRET_KEY_HERE
NEXT_PUBLIC_PAYMONGO_PUBLIC_KEY=pk_live_YOUR_PAYMONGO_PUBLIC_KEY_HERE

//gmail smtp
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_gmail_app_password_here
SMTP_FROM="Your Store <your_email@gmail.com>"


NEXT_PUBLIC_SUPABASE_URL=https://your-project-id.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key_here
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key_here

NEXT_PUBLIC_SITE_URL=https://your-site-url.vercel.app